---
// src/pages/index.astro
---
<html>
  <head>
    <title>Test Page</title>
    <style>
      .test { color: red; }
    </style>
  </head>
  <body>
    <h1 class="test">Hello World</h1>
  </body>
</html>